/* $Id: poll.css,v 1.6 2008/01/22 07:47:57 goba Exp $ */

/*
 * CSS For Nightly Reporting
 */
 

#sold-job {
	clear:both;
	display:block;
}

#sold-job .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
#sold-job .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
#sold-job .links {
  text-align: center;
}
#sold-job .percent {
  text-align: right; /* LTR */
}
#sold-job .total {
  text-align: center;
}
#sold-job .vote-form .choices .title {
  font-weight: bold;
}

#sold-job .sold-job-line {
	display:block;
	border: 1px dashed #CCC;
	overflow:auto;
	margin: 5px 3px;
}
#sold-job .sold-job-customer,
#sold-job .sold-job-project{
	clear:both;
	
	
}
#sold-job .form-item {
	float:left;
	vertical-align:top;
	margin:0 3px  !important;
}
#sold-job .form-text {
  width: auto;
}
#sold-job .form-item .container-inline-date,
#sold-job .date-clear-block {
clear:none !important;
display:inline;
float:left !important;
}

/*
 * View page
 */
 
 .node-type-nightly-report .field {
 	/*
	float:left;
	display: inline-block;
	*/
 }
 .node-type-nightly-report .field-label,
 .node-type-nightly-report .field-items {
 	display:block;
 }
 
 .sold-jobs h2 {
 	margin:0;
	padding:0;
 }
 .sold-job-table {
 	border: 1px solid #666;
	font-size: 0.8em;
 }
 .sold-job-table .header-row {
 	background-color:#CC0000;
	color:#FFF;
	font-weight:bold;
 }
 /*
  * CSS for Summary Page
  */
/* Search Form */
  .view-filters {
  	padding-top:15px;
  
  }
  .views-admin-links {
  	float:right;
  }
  
  #views-exposed-form-nightly-report-review-page-1 .views-exposed-widget {
  	display:block;
	clear:both;
  }

/* Data Table */

.view-nightly-report-review {
	font-size: 0.8em;
}
.view-nightly-report-review .views-table{
	border: 2px solid #666;
}
.view-nightly-report-review th {
 	background-color:#CC0000;
	color:#FFF;
	font-weight:bold;
 }
.view-nightly-report-review th a {
	color:#FFF; 
 }